@import "tailwindcss";
@source "../node_modules/preline/dist/*.js";
@import "preline/variants.css";

:root {
	font-family: "Open Sans", sans-serif;
}

:is(h1, h2, h3, h4, h5, h6) {
	font-family: "Merriweather", serif;
}

/* Restore default styles */
@layer base {
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.5em;
}

h3 {
	font-size: 1.17em;
}

h5 {
	font-size: 0.83em;
}

h6 {
	font-size: 0.67em;
}
